extends ../layout

block content
  .container
      h2 アカウント管理
      form.form.horisontal(method="post", action="/admin/account_edit")
        table.table.table-bordered.table-striped.table-hover
          caption ユーザ一覧
          .control-group
            thead
              tr.table-bordered
                th #
                th.span1 ユーザID
                th.span4 メールアドレス
                th.span3 フルネーム
                th.span2 略称
                th.span1 権限
                th.span1 機能
                th.span4 備考
                th.span2(style="text-align: right")
                  i.icon-plus-sign
                th.span2
                  .controls
                    button.btn.btn-primary.btn-mini(type="submit", name="_id", value="new") 作成
            tbody
              for user, i in users
                - var index = i +1
                tr
                  td= index
                  td= users[i].id
                  td= users[i].mail
                  td= users[i].name
                  td= users[i].name_short
                  td
                    if users[i].isAdmin
                      span.label.label-important 管理者
                    else
                      span.label.label-success 一般
                  td
                    if users[i].isEnable
                      span.label.label-info フル機能
                    else
                      span.label.label-important 閲覧のみ
                  td= users[i].Description
                  td
                    .control
                      button.btn.btn-success.btn-mini(type="submit", name="_id", value="#{users[i]._id}") 編集
                  td
                    if i == 0
                      button.btn.btn-danger.btn-mini(title="プリセット管理者は削除出来ません。", disabled) 削除
                    if i>0
                      form.form.horisontal(method="post", action="/admin/account_delete", style="margin: 0px; padding-top: 2px;")
                        .control-group(style=style="margin: 0px;")
                          .control
                            button.btn.btn-danger.btn-mini(type="submit", name="_id", value="#{users[i]._id}") 削除
  #container