extends ../layout

block content
  .container
      h2 Account Profile
      form.form.horisontal#userEdit(method="post", action="/admin/account_conf")
        table.table.table-bordered.table-striped.table-hover
          caption CV-MailForm Account in Databases
          thead
            tr.table-bordered
              th #
              th.span2 Attribute
              th.span5 Value
              th.span5 Description
          tbody
            tr.control-group
              td 1
              td.control-label id
              td.controls
                if mode == "new"
                  input(type="text", name="id", placeholder="user", style="margin-bottom: 0px;", value="#{users.id}")
                else
                  input(type="text", name="id", placeholder="user", style="margin-bottom: 0px;", value="#{users.id}", disabled, title="idは再設定できません。")
                input(type="hidden", name="_id", placeholder="_id", style="margin-bottom: 0px;", value="#{users._id}")
                if(duplicate)
                  .alert.alert-error(style="margin-bottom: 0px; margin-top: 2px;")
                    button.close(data-dismiss="alert")&times;
                    p(style="margin-bottom: 0px;")= duplicate
              td ログインIDを設定します。
            tr.control-group
              td 2
              td.control-label password
              td.controls
                input(type="password", id="password", name="password", placeholder="password", style="margin-bottom: 2px;", value="#{users.password}")
                input(type="password", name="password_valid", placeholder="確認用再入力欄", style="margin-bottom: 0px;", value="#{users.password}")
              td パスワードを設定します。（確認のため2回入力して下さい。）
            tr.control-group
              td 3
              td.control-label mail
              td.controls
                input(type="text", name="mail", placeholder="user@example.com", style="margin-bottom: 0px;", value="#{users.mail}")
              td メールアドレスを入力します。
            tr.control-group
              td 4
              td.control-label name
              td.controls
                input(type="text", name="name", placeholder="みょうじ　おなまえ", style="margin-bottom: 0px;", value="#{users.name}")
              td ユーザ名（フルネーム）を設定します。
            tr.control-group
              td 5
              td.control-label isAdmin
              td.controls
                if users.id == "sysadmin"
                  select(style="margin-bottom: 0px;", name="isAdmin", disabled, title="プリセット管理者は再設定できません。")
                    option(value="true", selected) True
                  input(type="hidden", name="isAdmin", placeholder="true", style="margin-bottom: 0px;", value="true")
                else
                  if isAdmin
                    select(style="margin-bottom: 0px;", name="isAdmin")
                      if users.isAdmin
                        option(value="true", selected) True
                        option(value="false") False
                      else
                        option(value="true") True
                        option(value="false", selected) False
                  else
                    select(style="margin-bottom: 0px;", name="isAdmin", disabled, title="一般権限では操作できません。")
                      option(value="false", selected) False
                    input(type="hidden", name="isAdmin", placeholder="false", style="margin-bottom: 0px;", value="false")
              td 管理者に設定します。
            tr.control-group
              td 6
              td.control-label isEnable
              td.controls
                if users.id == "sysadmin"
                  select(style="margin-bottom: 0px;", name="isEnable", disabled, title="プリセット管理者は再設定できません。")
                    option(value="true", selected) True
                  input(type="hidden", name="isEnable", placeholder="true", style="margin-bottom: 0px;", value="true")
                else
                  select(style="margin-bottom: 0px;", name="isEnable")
                    if users.isEnable
                      option(value="true", selected) True
                      option(value="false") False
                    else
                      option(value="true") True
                      option(value="false", selected) False
              td アカウントを有効にします。
            tr.control-group
              td 7
              td.control-label Description
              td.controls
                input(type="text", name="Description", placeholder="Description", style="margin-bottom: 0px;", value="#{users.Description}")
              td 備考欄です。
        .control-group
          .controls
            button.btn.btn-primary(type="submit") Edit
      script(type="text/javascript")
        $(function() {
          $('#userEdit').validate({
            rules : {
              'id' : { required: true, minlength: 2 },
              'mail' : { required: true, email: true },
              'name' : { required: true},
              'password' : { required: true, minlength: 6 },
              'password_valid' : { required: true, minlength: 6, equalTo: "#password" }
            },
            errorElement: "label",
            errorClass: "alert alert-error"
          });
        });
  #container