extends ../layout

block content
  .container
      h2 サーバ設定
      - if(messages)
          each message in messages
            .alert.alert-success
              button.close(data-dismiss="alert")&times;
              | #{messages}
      form.form.horisontal#serverConf(method="post", action="/admin/server_conf")
        table.table.table-bordered.table-striped.table-hover
          //caption CV-MailForm Configuration in Databases
          thead
            tr.table-bordered
              th.span1 #
              th.span2 設定項目
              th.span5 設定値
              th.span8 備考
          tbody
            tr.control-group
              td 1
              td.control-label domain
              td.controls
                input(type="text", name="domain", placeholder="example.co.jp", style="margin-bottom: 0px;", value="#{servers[0].domain}")
              td システムのドメイン名を記載します。
            tr.control-group
              td 2
              td.control-label smtp_server
              td.controls
                input(type="text", name="smtp_server", placeholder="localhost", style="margin-bottom: 0px;", value="#{servers[0].smtp_server}")
              td SMTPサーバ名またはIPアドレスを設定します。
            tr.control-group
              td 3
              td.control-label smtp_port
              td.controls
                input(type="text", name="smtp_port", placeholder="25", style="margin-bottom: 0px;", value="#{servers[0].smtp_port}")
              td SMTPサーバのポート番号を設定します。
            tr.control-group
              td 4
              td.control-label smtp_user
              td.controls
                input(type="text", name="smtp_user", placeholder="username", style="margin-bottom: 0px;", value="#{servers[0].smtp_user}")
              td SMTP接続ユーザ名を設定します。（必要な場合）
            tr.control-group
              td 5
              td.control-label smtp_pass
              td.controls
                input(type="password", name="smtp_pass", placeholder="password", style="margin-bottom: 0px;", value="#{servers[0].smtp_pass}")
              td SMTP接続パスワードを設定します。（必要な場合）
            tr.control-group
              td 6
              td.control-label mail_from
              td.controls
                input(type="text", name="mail_from", placeholder="noreply@example.co.jp", style="margin-bottom: 0px;", value="#{servers[0].mail_from}")
              td
                p メール通知の送信元を設定します。
                p (空欄の場合、ユーザのアドレスを使用します。)
            tr.control-group
              td 7
              td.control-label mail_to
              td.controls
                input(type="text", name="mail_to", placeholder="admin@example.co.jp", style="margin-bottom: 0px;", value="#{servers[0].mail_to}")
              td メール通知の送信先を設定します。
            tr.control-group
              td 8
              td.control-label mail_bcc_user
              td.controls
                label.checkbox BCCにユーザのアドレスを含める。
                  if servers[0].mail_bcc_user
                    input(type="checkbox", name="mail_bcc_user", value="true", checked)
                  else
                    input(type="checkbox", name="mail_bcc_user", value="true")
              td ユーザ自身をBCCに含めるかを選択します。
            tr.control-group
              td 9
              td.control-label mail_reply_to_user
              td.controls
                label.checkbox 返信先をユーザのアドレスにする。
                  if servers[0].mail_reply_to_user
                    input(type="checkbox", name="mail_reply_to_user", value="true", checked)
                  else
                    input(type="checkbox", name="mail_reply_to_user", value="true")
              td 返信先をユーザのアドレスにするか選択します。
            //tr.control-group
                td 10
                td.control-label send_to_min_before
                td.controls
                  input(type="text", name="send_to_min_before", placeholder="30", style="margin-bottom: 0px;", value="#{servers[0].send_to_min_before}")
                td 何分前に送信するかを設定します。（指定単位：分）
            //tr.control-group
                td 11
                td.control-label archive_of_day 
                td.controls
                  input(type="text", name="archive_of_day", placeholder="365", style="margin-bottom: 0px;", value="#{servers[0].archive_of_day}")
                td ログを何日間保存するかを指定します。（指定単位：日）
            tr.control-group
              td 10
              td.control-label left_subject
              td.controls
                input(type="text", name="left_subject", placeholder="退席連絡", style="margin-bottom: 0px;", value="#{servers[0].left_subject}")
              td 一時退席連絡の件名を指定します。
            tr.control-group
              td 11
              td.control-label left_template 
              td.controls.controls-row
                textarea.span5(rows="25", name="left_template", placeholder="Message Body", style="margin-bottom: 0px;") #{servers[0].left_template}
              td メッセージテンプレートを指定します。
                 p 以下の代入値を利用することが出来ます。
                 table.table.table-bordered.table-striped
                   caption 代入値一覧
                   tbody
                     tr
                       td %user%
                       td ユーザ名（フルネーム）
                     tr
                       td %user_short%
                       td ユーザ名（短縮）
                     tr
                       td %user_mail%
                       td ユーザのメールアドレス
                     tr
                       td %left%
                       td
                         p 退席開始時間 (0分の場合、時間のみ出力)
                         p (現時点では入力時の時間を設定します。)
                         p (「〜時から不在予定です」と整形されます。)
                         p (「〜時頃戻る予定です」と整形されます。)
                     tr
                       td %return%
                       td
                         p 帰社予定時間
                         p (未入力時は「未定」と設定されます。)
                     tr
                       td %state%
                       td 状態（離席・外出・帰社）
                     tr
                       td %description%
                       td
                         p 状態の詳細（会議など）
                         p (「設定しない」を選択時は記載されません。)
            tr.control-group
              td 12
              td.control-label goout_subject
              td.controls
                input(type="text", name="goout_subject", placeholder="外出連絡", style="margin-bottom: 0px;", value="#{servers[0].goout_subject}")
              td 外出連絡の件名を指定します。
            tr.control-group
              td 13
              td.control-label goout_template 
              td.controls.controls-row
                textarea.span5(rows="25", name="goout_template", placeholder="Message Body", style="margin-bottom: 0px;") #{servers[0].goout_template}
              td メッセージテンプレートを指定します。
                 p 以下の代入値を利用することが出来ます。
                 table.table.table-bordered.table-striped
                   caption 代入値一覧
                   tbody
                     tr
                       td %user%
                       td ユーザ名（フルネーム）
                     tr
                       td %user_short%
                       td ユーザ名（短縮）
                     tr
                       td %user_mail%
                       td ユーザのメールアドレス
                     tr
                       td %left%
                       td
                         p 退席開始時間 (0分の場合、時間のみ出力)
                         p (現時点では入力時の時間を設定します。)
                         p (「〜時から不在予定です」と整形されます。)
                     tr
                       td %return%
                       td
                         p 帰社予定時間 (0分の場合、時間のみ出力)
                         p (未入力時は「未定」と設定されます。)
                         p (「〜時頃戻る予定です」と整形されます。)
                     tr
                       td %state%
                       td 状態（離席・外出・帰社）
                     tr
                       td %description%
                       td
                         p 詳細(「〜のため」という形に編集されます。)
                         p (「設定しない」を選択時は記載されません。)
            //tr.control-group
              td 14
              td.control-label custom_subject
              td.controls
                input(type="text", name="custom_subject", placeholder="スケジュール連絡", style="margin-bottom: 0px;", value="#{servers[0].custom_subject}")
              td 詳細スケジュール入力時の件名を指定します。
            //tr.control-group
              td 15
              td.control-label custom_template 
              td.controls.controls-row
                textarea.span5(rows="25", name="custom_template", placeholder="Message Body", style="margin-bottom: 0px;") #{servers[0].custom_template}
              td メッセージテンプレートを指定します。
                 p 以下の代入値を利用することが出来ます。
                 table.table.table-bordered.table-striped
                   caption 代入値一覧
                   tbody
                     tr
                       td %user%
                       td ユーザ名（フルネーム）
                     tr
                       td %user_short%
                       td ユーザ名（短縮）
                     tr
                       td %user_mail%
                       td ユーザのメールアドレス
                     tr
                       td %left%
                       td
                         p 退席開始時間 (0分の場合、時間のみ出力)
                         p (現時点では入力時の時間を設定します。)
                         p (「〜時から不在予定です」と整形されます。)
                     tr
                       td %return%
                       td
                         p 帰社予定時間 (0分の場合、時間のみ出力)
                         p (未入力時は「未定」と設定されます。)
                         p (「〜時頃戻る予定です」と整形されます。)
                     tr
                       td %state%
                       td 状態（離席・外出・帰社）
                     tr
                       td %description%
                       td
                         p 詳細(「〜のため」という形に編集されます。)
                         p (「設定しない」を選択時は記載されません。)


            tr.control-group
              td 16
              td.control-label absence_subject
              td.controls
                input(type="text", name="absence_subject", placeholder="不在連絡", style="margin-bottom: 0px;", value="#{servers[0].absence_subject}")
              td 不在連絡の件名を指定します。
            tr.control-group
              td 17
              td.control-label absence_template 
              td.controls.controls-row
                textarea.span5(rows="22", name="absence_template", placeholder="Message Body", style="margin-bottom: 0px;") #{servers[0].absence_template}
              td メッセージテンプレートを指定します。
                 p 以下の代入値を利用することが出来ます。
                 table.table.table-bordered.table-striped
                   caption 代入値一覧
                   tbody
                     tr
                       td %user%
                       td ユーザ名（フルネーム）
                     tr
                       td %user_short%
                       td ユーザ名（短縮）
                     tr
                       td %user_mail%
                       td ユーザのメールアドレス
                     tr
                       td %left%
                       td
                         p 退席開始時間 (0分の場合、時間のみ出力)
                         p (現時点では入力時の時間を設定します。)
                     tr
                       td %return%
                       td
                         p 帰社予定時間 (0分の場合、時間のみ出力)
                         p (未入力時は「未定」と設定されます。)
                     tr
                       td %state%
                       td 状態（離席・外出・帰社）
                     tr
                       td %description%
                       td
                         p 詳細(「〜のため」という形に編集されます。)
                         p (「設定しない」を選択時は記載されません。)




            tr.control-group
              td 16
              td.control-label exist_subject
              td.controls
                input(type="text", name="exist_subject", placeholder="帰社連絡", style="margin-bottom: 0px;", value="#{servers[0].exist_subject}")
              td 帰社連絡の件名を指定します。
            tr.control-group
              td 17
              td.control-label exist_template 
              td.controls.controls-row
                textarea.span5(rows="22", name="exist_template", placeholder="Message Body", style="margin-bottom: 0px;") #{servers[0].exist_template}
              td メッセージテンプレートを指定します。
                 p 以下の代入値を利用することが出来ます。
                 table.table.table-bordered.table-striped
                   caption 代入値一覧
                   tbody
                     tr
                       td %user%
                       td ユーザ名（フルネーム）
                     tr
                       td %user_short%
                       td ユーザ名（短縮）
                     tr
                       td %user_mail%
                       td ユーザのメールアドレス
                     tr
                       td %left%
                       td
                         p 退席開始時間 (0分の場合、時間のみ出力)
                         p (現時点では入力時の時間を設定します。)
                     tr
                       td %return%
                       td
                         p 帰社予定時間 (0分の場合、時間のみ出力)
                         p (未入力時は「未定」と設定されます。)
                     tr
                       td %state%
                       td 状態（離席・外出・帰社）
                     tr
                       td %description%
                       td
                         p 詳細(「〜のため」という形に編集されます。)
                         p (「設定しない」を選択時は記載されません。)
        .control-group
          .controls
            button.btn.btn-primary(type="submit") Configure
      script(type="text/javascript")
        $(function() {
          $('#serverConf').validate({
            rules : {
              'domain' : { required: true },
              'smtp_server' : { required: true },
              'smtp_port' : { required: true, number: true },
              'smtp_user' : { minlength: 2 },
              'smtp_pass' : { minlength: 6 },
              'mail_from' : { email: true },
              'mail_to' : { required: true, email: true },
              'send_to_min_before' : { required: true, number: true },
              'archive_of_day' : { required: true, number: true },
              'left_subject' : { required: true },
              'left_template' : { required: true },
              'goout_subject' : { required: true },
              'goout_template' : { required: true },
              'custom_subject' : { required: true },
              'custom_template' : { required: true },
              'exist_subject' : { required: true },
              'exist_template' : { required: true }
            },
            errorElement: "label",
            errorClass: "alert alert-error"
          });
        });
  #container