extends ../layout

block content
  .container
      h2 スケジュール履歴 (#{session.userid})
      table.table.table-bordered.table-striped.table-hover
        //caption 入力履歴
        .control-group
          thead
            tr.table-bordered
              th #
              th.span4 ユーザ名（アカウント名）
              th.span1 状態
              th.span8 詳細
              th.span4 退席時刻
              th.span4 戻り予定時刻
              th.span1 通知
          tbody
            for schedule, i in schedules
              - var index = i +1
              tr
                td= index
                td= schedules[i].author
                td
                  if schedules[i].subject == "left"
                    span.label.label-success 離席中
                  if schedules[i].subject == "goout"
                    span.label.label-warning 外出中
                  if schedules[i].subject == "exist"
                    span.label.label-info 在席中
                td= schedules[i].Description
                td
                  if(schedules[i].timeRequest)
                    - var date = encodeDate(schedules[i].timeRequest)
                    p #{date}
                td
                  if(schedules[i].timeReturn)
                    - var date = encodeDate(schedules[i].timeReturn)
                    p #{date}
                td
                  if schedules[i].isState == "que"
                    span.label.label-warning 保留
                  if schedules[i].isState == "sent"
                    span.label.label-info 送信
                  if schedules[i].isState == "calcel"
                    span.label.label-danger 取消
                  if schedules[i].isState == "archive"
                    span.label.label-inverse 未送
              - function encodeDate(date) {
                - var y = date.getFullYear();
                - var m = date.getMonth()+1;
                - var d = date.getDate();
                - m = ('0' + m).slice(-2);
                - d = ('0' + d).slice(-2);
                - var hh = date.getHours()
                - var mm = date.getMinutes();
                - hh = ('0' + hh).slice(-2);
                - mm = ('0' + mm).slice(-2);
                - var w = date.getDay();
                - var week = "";
                - if (w == 0) week = "(日)";
                - if (w == 1) week = "(月)";
                - if (w == 2) week = "(火)";
                - if (w == 3) week = "(水)";
                - if (w == 4) week = "(木)";
                - if (w == 5) week = "(金)";
                - if (w == 6) week = "(土)";
                - return y + "/" + m + "/" + d + week + " " + hh + ":" + mm;
              - };
  #container