extends layout

block content
  .container
    .hero-unit
      .row-fluid
        .span9
          h1= title
          p Welcome to #{title}
          h3 Debug info
      pre
        p session_id :#{session.id}
        p user_keyid :#{session._id}
        p userid :#{session.userid}
        p name :#{session.name}
        p isAdmin :#{session.isAdmin}
        p isEnable :#{session.isEnable}
        p isState :#{session.isState}
        p messages :#{session.messages}
        hr
        script
          var dates = new Date();
          var year = dates.getFullYear();
          var month = dates.getMonth()+1;
          var week = dates.getDay();
          var day = dates.getDate();
          
          var yobi= new Array("日","月","火","水","木","金","土");
          
          document.write("西暦"+year+"年"+month+"月"+day+"日 "+yobi[week]+"曜日");
        p date: #{date}

  #container