extends ./layout

block content
  .container
      h2 スケジュールボード
      if (session.isEnable)
        if session.isState == "exist"
          button.btn.btn-large.btn-primary.disabled(disabled, style="width: 450px;") 現　在　「在　席　中」　で　す。
        if session.isState == "left"
          button.btn.btn-large.btn-success.disabled(disabled, style="width: 450px;") 現　在　「離　席　中」　で　す。
        if session.isState == "goout"
          button.btn.btn-large.btn-warning.disabled(disabled, style="width: 450px;") 現　在　「外　出　中」　で　す。
        if session.isState == "absence"
          button.btn.btn-large.btn-danger.disabled(disabled, style="width: 450px;") 現　在　「不　在」　で　す。
        table.table.table-bordered.table-striped.table-hover(style="width: 450px;, margin-bottom: 0px; margin-top: 3px;")
            tbody
              tr.table-bordered
                td(style="text-align: center;")
                  if session.isState == "exist"
                    a.button.btn.btn-success(href="#Inputleft", data-toggle="modal")
                      i.icon-pause.icon-white
                      |   離　席
                  else
                    button.btn.btn-success(disabled)
                      i.icon-pause
                      |   離　席
                td(style="text-align: center;")
                  if session.isState == "exist"
                    a.button.btn.btn-warning(href="#Inputgoout", data-toggle="modal")
                      i.icon-stop.icon-white
                      |   外　出
                  else
                    button.btn.btn-warning(disabled)
                      i.icon-stop
                      |   外　出
                td(style="text-align: center;")
                  if session.isState == "exist"
                    a.button.btn.btn-danger(href="#Inputabsence", data-toggle="modal")
                      i.icon-eject.icon-white
                      |   不　在
                  else
                    button.btn.btn-danger(disabled)
                      i.icon-eject
                      |   不　在
                //td(style="text-align: center;")
                  form.form.horisontal(method="post", action="/schedule/input", style="margin-bottom: 0px;")
                      .control-group(style="margin-bottom: 0px;")
                        .control
                          button.btn.btn-info(disabled, title="すみません、まだ未実装です。")
                            i.icon-edit.icon-white
                            |   Custom Input
                td(style="text-align: center;")
                  if session.isState == "exist"
                    button.btn.btn-primary(disabled)
                      i.icon-play
                      |   在　席
                  else
                    form.form.horisontal(method="post", action="/schedule/chg_status", style="margin-bottom: 0px;")
                      .control-group(style="margin-bottom: 0px;")
                        .control
                          input(type="hidden", name="status", placeholder="status", style="margin-bottom: 0px;", value="exist")
                          input(type="hidden", name="description", placeholder="description", style="margin-bottom: 0px;", value="")
                          button.btn.btn-primary
                            i.icon-play.icon-white
                            |   戻　り
        - if(messages)
            each message in messages
              .alert.alert-success
                button.close(data-dismiss="alert")&times;
                | #{messages}

      button.btn.btn-primary(onClick="location.href='/'")
        i.icon-repeat.icon-white
        | 　表示を更新する
      | 　（60秒毎に自動的に更新されます。 / 毎日0時にリセットされます。）
      table.table.table-bordered.table-striped.table-hover
        //caption 入力履歴
        .control-group
          thead
            tr.table-bordered
              th #
              th.span3 ユーザ名
              th.span1 状態
              th.span3 戻り予定時刻
              th.span8 詳細
              th.span3 更新時刻
          tbody
            - var author_old = ""
            - var index = 0
            for schedule, i in schedules
              if schedules[i].author != author_old
                - author_old = schedules[i].author
                tr
                  - index = index + 1
                  td= index
                  td= schedules[i].author
                  td
                    if schedules[i].subject == "left"
                      span.label.label-success 離席中
                    if schedules[i].subject == "goout"
                      span.label.label-warning 外出中
                    if schedules[i].subject == "absence"
                      span.label.label-important 不　在
                    if schedules[i].subject == "exist"
                      span.label.label-info 在席中
                  td
                    if(schedules[i].timeReturn)
                      - var date = encodeDate(schedules[i].timeReturn)
                      p #{date}
                  td= schedules[i].Description
                  td
                    if(schedules[i].timeSubmit)
                      - var date = encodeDate(schedules[i].timeSubmit)
                      p #{date}
                  
                  
              - function encodeDate(date) {
                - var y = date.getFullYear();
                - var m = date.getMonth()+1;
                - var d = date.getDate();
                - m = ('0' + m).slice(-2);
                - d = ('0' + d).slice(-2);
                - var hh = date.getHours()
                - var mm = date.getMinutes();
                - hh = ('0' + hh).slice(-2);
                - mm = ('0' + mm).slice(-2);
                - var w = date.getDay();
                - var week = "";
                - if (w == 0) week = "(日)";
                - if (w == 1) week = "(月)";
                - if (w == 2) week = "(火)";
                - if (w == 3) week = "(水)";
                - if (w == 4) week = "(木)";
                - if (w == 5) week = "(金)";
                - if (w == 6) week = "(土)";
                - return y + "/" + m + "/" + d + week + " " + hh + ":" + mm;
              - };
            script(language="JavaScript")
              setTimeout("location.reload()",1000*60);

    .modal.hide.fade(id="Inputleft", tabindex="-1", role="dialog", aria-labelledby="leftInputLabel", aria-hidden="true")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
        button.btn.btn-large.btn-success.disabled(id="leftInputLabel", disabled, style="width: 500px;") 「離　席」　詳　細　入　力
      form.form.horisontal(method="post", action="/schedule/chg_status", style="margin-bottom: 0px;")
        .modal-body
          .control-group(style="margin-bottom: 0px;")
            .control
        table.table.table-bordered.table-striped.table-hover
          tbody
            tr.control-group
              td.controls
                select(style="margin-bottom: 0px;", name="description")
                    option(value="", selected) 指定なし
                    option(value="社内会議") 社内会議
                    option(value="来客対応") 来客対応
                    option(value="食事") 食事
                    input(type="hidden", name="status", placeholder="status", style="margin-bottom: 0px;", value="left")
              td 予定の詳細を選択します。
            tr.control-group
              td.controls
                .input-append.date.form_datetime(title="カレンダーをクリックして編集します。")
                  input(type="text", name="timeReturn", placeholder="戻り未定", style="margin-bottom: 0px;", value="", readonly)
                  span.add-on
                    i.icon-remove
                  span.add-on
                    i.icon-time
                label.checkbox(style="margin-left: 198px;") 終日予定
                  input(type="checkbox", name="fulltime", value="true")
              td
                p 帰社予定時間を記載します。
                pre
                 | 未定:時刻をクリアしてください。
                 | 終日:時刻は無視されます。
        .modal-footer
          .control-group(style="margin-bottom: 0px;")
            .control
              button.btn(type="button", data-dismiss="modal", aria-hidden="true") キャンセル
              button.btn.btn-primary(type="submit") 決定
      
    .modal.hide.fade(id="Inputgoout", tabindex="-1", role="dialog", aria-labelledby="gooutInputLabel", aria-hidden="true")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
        button.btn.btn-large.btn-warning.disabled(id="gooutInputLabel", disabled, style="width: 500px;") 「外　出」　詳　細　入　力
      form.form.horisontal(method="post", action="/schedule/chg_status", style="margin-bottom: 0px;")
        .modal-body
          .control-group(style="margin-bottom: 0px;")
            .control
        table.table.table-bordered.table-striped.table-hover
          tbody
            tr.control-group
              td.controls
                select(style="margin-bottom: 0px;", name="description")
                    option(value="", selected) 指定なし
                    option(value="客先打ち合わせ") 客先打ち合わせ
                    option(value="現場作業") 現場作業
                    option(value="食事") 食事
                    input(type="hidden", name="status", placeholder="status", style="margin-bottom: 0px;", value="goout")
              td 予定の詳細を選択します。
            tr.control-group
              td.controls
                .input-append.date.form_datetime(title="カレンダーをクリックして編集します。")
                  input(type="text", name="timeReturn", placeholder="戻り未定", style="margin-bottom: 0px;", value="", readonly)
                  span.add-on
                    i.icon-remove
                  span.add-on
                    i.icon-time
                label.checkbox(style="margin-left: 198px;") 終日予定
                  input(type="checkbox", name="fulltime", value="true")
              td
                p 帰社予定時間を記載します。
                pre
                 | 未定:時刻をクリアしてください。
                 | 終日:時刻は無視されます。
        .modal-footer
          .control-group(style="margin-bottom: 0px;")
            .control
              button.btn(type="button", data-dismiss="modal", aria-hidden="true") キャンセル
              button.btn.btn-primary(type="submit") 決定

    .modal.hide.fade(id="Inputabsence", tabindex="-1", role="dialog", aria-labelledby="absenceInputLabel", aria-hidden="true")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
        button.btn.btn-large.btn-danger.disabled(id="absenceInputLabel", disabled, style="width: 500px;") 「不　在」　詳　細　入　力
      form.form.horisontal(method="post", action="/schedule/chg_status", style="margin-bottom: 0px;")
        .modal-body
          .control-group(style="margin-bottom: 0px;")
            .control
        table.table.table-bordered.table-striped.table-hover
          tbody
            tr.control-group
              td.controls
                select(style="margin-bottom: 0px;", name="description")
                    option(value="", selected) 指定なし
                    option(value="休暇") 休暇
                    option(value="代休") 代休
                    option(value="出張") 出張
                    option(value="研修") 研修
                    input(type="hidden", name="status", placeholder="status", style="margin-bottom: 0px;", value="absence")
              td 予定の詳細を選択します。
            tr.control-group
              td.controls
                .input-append.date.form_datetime(title="カレンダーをクリックして編集します。")
                  input(type="text", name="timeReturn", placeholder="戻り未定", style="margin-bottom: 0px;", value="", readonly)
                  span.add-on
                    i.icon-remove
                  span.add-on
                    i.icon-time
                label.checkbox(style="margin-left: 198px;") 終日予定
                  input(type="checkbox", name="fulltime", value="true")
              td
                p 帰社予定時間を記載します。
                pre
                 | 未定:時刻をクリアしてください。
                 | 終日:時刻は無視されます。
        .modal-footer
          .control-group(style="margin-bottom: 0px;")
            .control
              button.btn(type="button", data-dismiss="modal", aria-hidden="true") キャンセル
              button.btn.btn-primary(type="submit") 決定

    script(type="text/javascript")
      $(function() {
        $('#scheduleImput').validate({
          rules : {
            'subject' : { required: true }
          },
          errorElement: "label",
          errorClass: "alert alert-error"
        });
      });
      $(function() {
        $(".form_datetime").datetimepicker({
          format: 'yyyy/mm/dd hh:ii',
          startView: 1,
          autoclose: true,
          minuteStep: 30,
          pickerPosition: "bottom-left"
        });
      });
      
  #container