doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css" ,type="text/css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css" ,type="text/css")
    link(rel="stylesheet", href="/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.min.css" ,type="text/css")
    link(rel="stylesheet", href="/stylesheets/datetimepicker.css" ,type="text/css")
    link(rel="stylesheet", href="/stylesheets/style.css" ,type="text/css")
    script(src="/javascripts/jquery.min.js", type="text/javascript")
    script(src="/javascripts/jquery.validate.min.js", type="text/javascript")
    script(src="/javascripts/jquery-ui.min.js", type="text/javascript")
    script(src="/javascripts/bootstrap.min.js", type="text/javascript")
    script(src="/javascripts/bootstrap-datetimepicker.min.js", type="text/javascript")
    script(src="/javascripts/bootstrap-datetimepicker.ja.js", type="text/javascript", charset="UTF-8")

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type="button",data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse.collapse
            ul.nav
              li
                a(href="/") 行動予定表
              if (session.isEnable)
                li.dropdown
                  a(class="dropdown-toggle", id="dLabel", role="button", data-toggle="dropdown", data-target="#", href="schedule/#") スケジュール
                    b.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                    li
                      a(role="menuitem", tabindex="-1", href="/schedule/")
                        i.icon-calendar
                        |  スケジュール入力
                    li.divider(role="presentation")
                    li
                      a(role="menuitem", tabindex="-1", href="/schedule/archives")
                        i.icon-briefcase
                        |  スケジュール履歴
              if (session.isAdmin)
                li.dropdown
                  a(class="dropdown-toggle", id="dLabel", role="button", data-toggle="dropdown", data-target="#", href="admin/#") 管理者設定
                    b.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                    li
                      a(role="menuitem", tabindex="-1", href="/admin/account")
                        i.icon-user
                        |  アカウント管理
                    li
                      a(role="menuitem", tabindex="-1", href="/admin/server")
                        i.icon-wrench
                        |  サーバ設定
                    li.divider(role="presentation")
                    li
                      a(role="menuitem", tabindex="-1", href="/admin/archives")
                        i.icon-briefcase
                        |  アーカイブ
                    li.divider(role="presentation")
                    li
                      a(role="menuitem", tabindex="-1", href="#VerInfo", data-toggle="modal")
                        i.icon-info-sign
                        |  バージョン情報
            ul.nav.pull-right
              li(style="text-align: right;")
                a(role="menuitem", tabindex="-1", href="#", style="padding-right: 6px;")
                  if session.isState == "exist"
                    i.icon-play.icon-white
                  if session.isState == "left"
                    i.icon-pause.icon-white
                  if session.isState == "goout"
                    i.icon-stop.icon-white
              li
                form.form.horisontal(method="post", action="/account", style="margin-top: 0px; margin-bottom: 0px; margin-top: 0px;padding-top: 4px;")
                  .control-group(style=style="margin: 0px;")
                    .control
                      if session.isState == "exist"
                        button.btn.btn-primary.btn-mini(type="submit", name="_id", value="#{session._id}") #{session.name}
                      if session.isState == "left"
                        button.btn.btn-success.btn-mini(type="submit", name="_id", value="#{session._id}") #{session.name}
                      if session.isState == "goout"
                        button.btn.btn-warning.btn-mini(type="submit", name="_id", value="#{session._id}") #{session.name}
              li
                a(href="/logout")
                  i.icon-off.icon-white
                  |  ログアウト
    .modal.hide.fade(id="VerInfo", tabindex="-1", role="dialog", aria-labelledby="VerInfoLabel", aria-hidden="true")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
        h3(id="VerInfoLabel") Version Information
      .modal-body
        h2 オンライン行動予定表（仮）
        p Version 0.1.0
        p
         a(href="/https://github.com/kagenana/CV-MailForm", target="_blank") https://github.com/kagenana/CV-MailForm
      .modal-footer
        button.btn(data-dismiss="modal", aria-hidden="true") Close
    block content